[build]
  command = ""
  functions = "netlify/functions"
  publish = "."

[build.environment]
  NODE_VERSION = "18"
  
[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
